<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <input type="text" formControlName="name" />
    <div
      *ngIf="
        reactiveForm.get('name')?.invalid &&
        (reactiveForm.get('name')?.dirty || reactiveForm.get('name')?.touched)
      "
    >
      <div *ngIf="reactiveForm.get('name')?.errors.required">
        Name is required
      </div>
    </div>
  </div>
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" />
    <div
      *ngIf="
        reactiveForm.get('email')?.invalid &&
        (reactiveForm.get('email')?.dirty || reactiveForm.get('email')?.touched)
      "
    >
      <div *ngIf="reactiveForm.get('email')?.errors.required">
        Email is required
      </div>
      <div *ngIf="reactiveForm.get('email')?.errors.email">
        Email must be a valid email address
      </div>
    </div>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
  </div>
</form>
